body{
	margin:0px;
	padding:0px;
	font-size: 12px;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.main{
	width:100%;
	overflow: hidden;
}

.PersonTypeList{
	width: 100%;
	overflow: hidden;
	display: flex;
}
.PersonTypeList>li{
	flex:1;
	border:1px solid #ff00ff;

}